{% extends 'base.html' %}
{% block content %}
<form action="{% url "Openml:upload_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
<div class="form-group">
    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">1.UploadFile: </label>
    <div class="col-md-8">
        <input type="file" name="filename" value="{{msg}}">
    </div>                    
</div>
<div class="form-group">                    
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
    </div> 
</div>
</form>


<form action="/xy/" method="GET">  
  <label for="name">2.Matrix:</label>
  <div>
    <div>
    <label for="x">X = </label>
    <input type="number" name="x" id="x" value="{{x}}">
    </div>
    <div>
    <label for="y">Y = </label>
    <input type="number" name="y" id="y" value="{{y}}">
    </div>
    <input type="submit">
  </div>
</form>

<form action="/train_test/" method='GET'>
  <label for="name">3.Train and Test data</label>
  <input type="submit">
  {{msg}}
</form>

<form action="/slr/" method='GET'>
  <label for="name">4.Simple linear Regression</label>
  <input type="submit">
  {{slr}}
</form>

<form action="/prediction/" method='GET'>
  <label for="name">5.Prediction</label>
  <input type="submit">
  {{y_pred}}
</form>


<form action="/visual_testdata/" method='GET'>
  <label for="name">6.Visualising the Test set results</label>
  <input type="submit">
</form>

<form action="/visual_traindata/" method='GET'>
  <label for="name">7.Visualising the Training set results</label>
  <input type="submit">
</form>
{% endblock %}